<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="css/unverified.css">
    <link rel="icon" 
      type="image/jpeg" 
      href="https://www.tanmai.io/t%20circle%20logo.png">
</head>
<body>
    <a href="https://user.tjhsst.edu/2023tkalisip"><img id="signature" src='./img/signature.jpg' alt="tanmai's signature" height=100px></a>
    <div class="topnav">
        
    <a href="https://user.tjhsst.edu/2023tkalisip/myprofile"><img src='./img/Profile.png' height=20px alt="profile button"></a>
    <div class="dropdown">
        <a class="dropbtn">MORE ↓</a>
        <div class="dropdown-content">
      <a>MORE ↓</a>
      <a href="https://user.tjhsst.edu/2023tkalisip/cookie">COOKIE</a>
      <a href="https://user.tjhsst.edu/2023tkalisip/housevoting">HOUSE VOTING</a>
      <a href="https://user.tjhsst.edu/2023tkalisip/map">MAP GAME</a>
    </div>
        </div>
        <a href="https://user.tjhsst.edu/2023tkalisip/nba_voting">NBA GOAT</a>
        <a href="https://user.tjhsst.edu/2023tkalisip/weather_form">WEATHER</a>
        <a href="https://user.tjhsst.edu/2023tkalisip/numberfacts">NUMBER FACTS</a>
        <a href="https://user.tjhsst.edu/2023tkalisip/ml_form">MADLIB</a>
    </div>
    <div class="intro">
        <h1>hi</h1>
        <h1>{{username}}.</h1>
        <a>explore v</a>
    </div>
</body>
</html>