<div>Name</div>
{{#each results}}
<div><a href="https://user.tjhsst.edu/2023tkalisip/individual_points/{{this.player_name}}">{{this.player_name}}</a></div>
{{/each}}
<p>Total house points: {{total}}</p>